@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Overpass&display=swap');

body {
  margin: 0px;
  font-family: 'Overpass', sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #212121;
  display:;
  padding: 20px 0px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  font-family: proxima-nova;
  font-weight: 600;
  font-style: normal;
}

.topnav a:hover {

}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
  float: right;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
















/*Footer*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1f1f1f;
  color: white;
  height: 200px;
}

footer.social-media-footer {
  display: inline-flex;
  background-color: #333333;
}

footer .contact {
  
}